saurabhsj176/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "saurabhsj176"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/swicth_Case')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.input_para",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Switch1",
									"type": "Switch",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"on": {
											"value": "@item()",
											"type": "Expression"
										},
										"cases": [
											{
												"value": "MH",
												"activities": [
													{
														"name": "Set variable2",
														"type": "SetVariable",
														"dependsOn": [],
														"policy": {
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"variableName": "state_list",
															"value": "'maharashtra'"
														}
													}
												]
											},
											{
												"value": "MP",
												"activities": [
													{
														"name": "Set variable3",
														"type": "SetVariable",
														"dependsOn": [],
														"policy": {
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"variableName": "state_list",
															"value": "'Madhyapradesh'"
														}
													}
												]
											},
											{
												"value": "NE",
												"activities": [
													{
														"name": "Set variable4",
														"type": "SetVariable",
														"dependsOn": [],
														"policy": {
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"variableName": "state_list",
															"value": "'North East'"
														}
													}
												]
											}
										],
										"defaultActivities": [
											{
												"name": "Set variable5",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "state_list",
													"value": "'NONE'"
												}
											}
										]
									}
								},
								{
									"name": "Append variable1",
									"type": "AppendVariable",
									"dependsOn": [
										{
											"activity": "Switch1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "satet_append",
										"value": {
											"value": "@variables('state_list')",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "output",
							"value": {
								"value": "@variables('satet_append')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"input_para": {
						"type": "array",
						"defaultValue": [
							"Aniket",
							"saurabh",
							"ram",
							"sanket",
							"Ram",
							"MH",
							"MP",
							"NE"
						]
					}
				},
				"variables": {
					"list_var": {
						"type": "String"
					},
					"list_appe": {
						"type": "Array"
					},
					"output": {
						"type": "Array"
					},
					"True_append": {
						"type": "Array"
					},
					"false_append": {
						"type": "Array"
					},
					"state_list": {
						"type": "String"
					},
					"satet_append": {
						"type": "Array"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}